.card_array .card.toy_component {
  filter: drop-shadow(0 0 8px black);
}

.pseudo_image.floor, .pseudo_image.special_image {
  height: 60px;
  width: 60px;
}

.card.toy_component {
  font-family: "Mountains of Christmas", serif;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  font-weight: bold;
}

.card.front.toy_component {
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 14px;
  padding-right: 14px;
  position: relative;
}
.card.front.toy_component .wrapper {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-size: 40px;
}
.card.front.toy_component .wrapper .special_customs_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card.front.toy_component .wrapper .reward_points {
  font-size: 14px;
  font-weight: bold;
  display: inline;
}
.card.front.toy_component .wrapper div.title {
  font-size: 30px;
  white-space: pre-line;
}
.card.front.toy_component .wrapper .craft_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card.front.toy_component .wrapper .minicard {
  border-radius: 10px;
  border: 4px solid #000;
  background-color: #fffff0;
  transform: rotate(5deg);
}
.card.front.toy_component .wrapper .images_wrapper {
  display: flex;
  flex-direction: row;
}
.card.front.toy_component .wrapper .images_wrapper .pseudo_image {
  height: 50px;
  width: 50px;
}
.card.front.toy_component .wrapper .images_wrapper .pseudo_image.plus_one_pt {
  width: 70px;
}
.card.front.toy_component .wrapper .custom {
  font-size: 35px;
}
.card.front.toy_component .wrapper .penalty {
  white-space: nowrap;
}
.card.front.toy_component .wrapper .floor_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card.front.toy_component .wrapper .special_custom.small {
  font-size: 25px;
}
.card.front.toy_component div.toy_component_image {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 2;
}
.card.front.toy_component .white_outline.pseudo_image {
  filter: drop-shadow(-1px -1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px 1px 0 white);
}
.card.front.toy_component div.toy_component_image.index0 {
  top: 10px;
  left: 10px;
}
.card.front.toy_component div.toy_component_image.index1 {
  top: 10px;
  right: 10px;
}
.card.front.toy_component div.toy_component_image.index2 {
  bottom: 10px;
  left: 10px;
}
.card.front.toy_component div.toy_component_image.index3 {
  bottom: 10px;
  right: 10px;
}

.card.back.toy_component .inset {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card.back.toy_component .inset .cardBackTitle {
  font-size: 40px;
  font-family: "Mountains of Christmas", serif;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  font-weight: bold;
  white-space: wrap;
}
.card.back.toy_component .inset .santa {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

/*# sourceMappingURL=toy_component.css.map */
