div.pseudo_image.doll {
  background-image: url("../images/ToyComponents/doll.png");
}

div.pseudo_image.kite {
  background-image: url("../images/ToyComponents/kite.png");
}

div.pseudo_image.robot {
  background-image: url("../images/ToyComponents/robot.png");
}

div.pseudo_image.radio {
  background-image: url("../images/ToyComponents/radio.png");
}

div.pseudo_image.poop {
  background-image: url("../images/ToyComponents/poop.png");
}

div.pseudo_image.elfMagic {
  background-image: url("../images/ToyComponents/elfMagic.png");
}

div.pseudo_image.wrappingPaper {
  background-image: url("../images/ToyComponents/wrappingPaper.png");
}

div.pseudo_image.broom {
  background-image: url("../images/ToyComponents/broom.png");
}

div.pseudo_image.floor {
  background-image: url("../images/ToyComponents/floor.png");
}

div.pseudo_image.santa {
  background-image: url("../images/ToyComponents/santa.png");
}

div.pseudo_image.doubleArrow {
  background-image: url("../images/ToyComponents/doubleArrow.png");
}

div.pseudo_image.rightArrow {
  background-image: url("../images/ToyComponents/rightArrow.png");
}
