.card_array>.page_of_items_contents>.card.toy_component {
  //    filter: drop-shadow(0 0 8px red);
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.5);
}

.dark_shadowed {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.pseudo_image.floor,
.pseudo_image.special_image {
  height: 60px;
  width: 60px;
}

.pseudo_image.coin {
  height: 60px;
  width: 60px;
}

.pseudo_image.desk {
  height: 60px;
  width: 60px;
}

.card.toy_component {
  font-family: "Mountains of Christmas", serif;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  font-weight: bold;
}

.card.front {
  div.player_indicator {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    left: 0px;
    width: 100%;

    div.player {
      width: 36px;
      height: 36px;
    }

    div.player_count {
      font-size: 28px;
    }
  }
}

.card.front.toy_component {
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 14px;
  padding-right: 14px;
  position: relative;

  .main_wrapper {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-size: 40px;
    gap: 10px;

    .unbroken_row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
    }

    .reward_points {
      font-size: 14px;
      font-weight: bold;
      display: inline;
    }

    div.title {
      font-size: 36px;

      white-space: pre-line;
    }

    .craft_wrapper {
      .card_collection {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;

        .minicard {
          position: absolute;
          top: 0px;
        }
      }

    }

    .floor_wrapper {
      .colon_and_points .negative {
        color: #994444;
      }
    }

    .colon_and_points {
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .minicard {
      border-radius: 10px;
      background-color: #fffff0;
      transform: rotate(-5deg);
      filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.15));
    }

    .images_wrapper {
      display: flex;
      flex-direction: row;

      .pseudo_image {
        height: 50px;
        width: 50px;
      }

      .pseudo_image.plus_one_pt {
        width: 70px;
      }
    }

    .custom {
      font-size: 35px;
    }

    .penalty {
      white-space: nowrap;
    }

    .special_custom.small {
      font-size: 25px;
    }
  }

  div.toy_component_image {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 2;
  }

  .white_outline.pseudo_image {
    filter: drop-shadow(-1px -1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px 1px 0 white);
  }

  div.toy_component_image.index0 {
    top: 10px;
    left: 10px;
  }

  div.toy_component_image.index_xl {
    top: -50%;
    left: -50%;
    transform: translate(50%, 50%);
  }
}

.card.front.toy_component .wrapper .special_customs_wrapper .special_custom {
  margin: 0 6px;
}

.card.back.toy_component .inset {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .cardBackTitle {
    font-size: 40px;
    font-family: "Mountains of Christmas", serif;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 1px 0 #fff;
    font-weight: bold;
    white-space: wrap;
  }

  .santa {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
}