.card {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 1px;
	margin-bottom: 1px;
	display: inline-block;
	overflow: hidden;
	text-align: center;
}

.card.forDemo {
	margin-right: 0px;
	margin-bottom: 0px;
}

.card.front {
	box-sizing: border-box;
}

/* Box Cards */
.card.front.box {
	position: relative;
	background-color: #fff;
}

.card.front.box .wrapper {
	position: absolute;
	top: 50%;
	width: 100%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.card.front.box .nutProps {
	display: flex;
	margin-bottom: 20px;
}

.card.front.box div.nutProp {
	height: 80px;
	width: 80px;
	margin: auto;
}

.card.front.box div.nutProp.nutType {
	height: 100px;
	width: 100px;
}

.card.front.box div.nutProp img{
	max-width:100%;
	max-height:100%;
	width: auto;
	height: auto;
}

/* Truck Cards */
.card.front.truck .wrapper
{
	position: relative;
	height: 100%;
	width: 100%;
}

.card.front.truck .truckSize {
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Courier';
	font-size: 48px;

	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* Bonus cards */
.card.front.bonus .title {
	margin-top: 28px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Courier';
	font-size: 30px;
}

.card.front.bonus .when {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Courier';
	font-style: italic;
	font-size: 14px;
}

.card.front.bonus .what {
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Courier';
	font-size: 16px;
}

/* Card backs*/
.card.back {
	box-sizing: border-box;
	position: relative;
}


.card.back .inset {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	height: 90%;
	transform: translate(-50%, -50%);
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card.back .inset .title {
	transform-origin: center;
	transform: rotate(-45deg);
	font-family: 'Courier';
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.card.ghost {
    opacity: 0.4;
}